{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block selected %}venue{% endblock %}

{% block content %}
	<h2>The Ceremony</h2>
	<p>The wedding ceremony will take place at 11am at:</p>
	<p>
		St. James' Church,<br />
		St. James' Road,<br />
		Shirley,<br />
		Southampton
	</p>
	<p>Please note that this is not St. James' Road Methodist Church, which just happens to be a
		 church nearby with a similar name.</p>
	
	<h2>The Reception</h2>
	<p>After the ceremony we'll be having a reception at:</p>
	<p>
		The Forest Lodge Hotel,<br />
		Pikes Hill,<br />
		Romsey Road,<br />
		Lyndhurst,<br />
		Hampshire
	</p>
	
	<p>At 1pm, there will be a sit-down mea for our immediate family and the wedding party. Sadly,
		 we can't invite everyone to this, but in the evening, everyone is welcome for a buffet meal,
		 music, and general festivities. The hotel hasn't confirmed with us the time for the evening yet,
		 but we will be sure to put it up on this site as soon as we know.</p>

	<div id="map">
		<iframe width="500" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;t=h&amp;s=AARTsJpeFvU6YBzSiwagXo1cdaiptgaO-A&amp;msa=0&amp;msid=100411431428963962864.000465a8159b551527895&amp;ll=50.907579,-1.504097&amp;spn=0.075772,0.171661&amp;z=12&amp;output=embed"></iframe>
		<p><a href="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;t=h&amp;msa=0&amp;msid=100411431428963962864.000465a8159b551527895&amp;ll=50.907579,-1.504097&amp;spn=0.075772,0.171661&amp;z=12&amp;source=embed">View Larger Map</a></p>
	</div>
{% endblock %}