html, body {
    background-color: #2a353e;
    font-family: sans-serif;
}

div#container {
    background-color: #e4ebe0;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

/** Header */
div#header {
    text-align: right;
}

div#title {
    background-repeat: no-repeat;
    background-position: 0 4px;
    float: right;
    padding-left: 70px;
}

h1, h2, h3, h4, h5, h6, p#date {
    font-family: "Baskerville", serif;
    color: #25233e;
}

h1 {
    font-size: 2em;
    font-weight: bold;
}

p#date {
    font-size: 1.2em;
    margin-top: -0.3em;
}

ul#navigation {
    font-family: "Baskerville", serif;
    font-size: 1.6em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    clear: both;
}

ul#navigation li {
    display: inline;
    margin-left: 0.5em;
    color: #363f27;
}

ul#navigation li a {
    text-decoration: none;
    color: inherit;
}
/* End Header */

/** Menu IDs */
body#venue li#navigation-venue,
body#rsvp li#navigation-rsvp,
body#gift-list li#navigation-gift-list { 
    font-weight: bold; 
}

/** Content */
h2 {
    font-size: 1.7em;
    font-weight: bold;
    margin-top: 0.8em;
}

p {
    margin-top: 0.5em;
    line-height: 1.3em;
}
/* End Content */

/** Footer */
div#footer {
    text-align: center;
    font-size: 0.8em;
    margin-top: 1em;
    color: #999;
}

div#footer p {
    margin-top: 0.5em;
}

div#footer a {
    color: #999;
}
/* End Footer */

/** Forms */
label {
    display: block;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

div.checkbox {
    float: left;
    padding-top: 0.6em;
    margin-right: 1.5em;
}

div.checkbox label {
    display: inline;
    margin-left: 0.5em;
}

input.text {
    display: block;
    width: 98%;
    padding: 0.2em;
    background-color: #415261;
    border: 1px solid #000;
    color: #dfdfdf;
}

input.image {
    display: block;
    margin-top: 1em;
    margin-left: auto;
}

input.image#stage2 {
    float: right;
    margin-top: 0;
}

p.error {
    font-weight: bold;
    margin-bottom: 1em;
}
/* End Forms */

/** Home Page */
body#venue div#title { background-image: url('../images/us.png'); }
div#map {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

div#map p,
div#map p a {
    text-align: right;
    color: #25233e;
    font-size: 1em;
    margin-top: 0.5em;
}
/* End Home Page */

/** RSVP */
body#rsvp div#title { background-image: url('../images/rsvp.png'); }
div.form_block {
    background-color: #86acc2;
    margin-top: 1em;
    padding: 1em;
}
/* End RSVP */