{% extends "base.html" %}
{% load image_filters %}
{% block title %}Gifts{% endblock %}
{% block selected %}gifts{% endblock %}

{% block content %}
	<h2>Gift List</h2>
	<p>You'd like to buy us a gift? Thank you very much! If you see something you might like to buy for us on this page,
		 then click on its name to be taken to the site which is selling it. Or, if you don't like online shopping, you can
		 scurry away to a real shop, and get one similar.</p>
	<p>If you've decided to buy us an item from the list, please click the "Reserve" button. That way we won't end up with
		 150 toasters! Of course, some things, like picture frames and candles, it's nice to have several of anyway, so don't
		 worry too much if those are reserved.</p>
	<p>We get a small commission for anything you buy from Amazon through this list (maybe even enough to buy a meal out while
		 we're on honeymoon!) If that's a problem for you, give us a shout, and we'll tell you how to avoid it, or you can get
		 the present elsewhere.</p>
	<p>Finally, please don't feel obliged to get us anything. Showing up is a gift in itself.</p>
	
	{% for category in categories %}
		<h3>{{ category.name }}</h3>
		{% for gift in category.gift_set.all %}
			<div class="gift {% if gift.reserved %}reserved-gift{% endif %}" id="gift-{{ gift.id }}">
				<div class="picture">
					<div class="image">
						{% if gift.reserved %}
							<img src="{{ gift.image.path|bw_thumbnail }}" />
						{% else %}
							<img src="{{ gift.image.path|thumbnail }}" />
						{% endif %}
					</div>
					<p>{{ gift.price_in_pounds }}</p>
				</div>
				<h4><a href="{{ gift.address }}" target="_blank">{{ gift.name }}</a></h4>
				<p>{{ gift.description }}</p>
				{% if gift.reserved %}
					<img class="reserve" src="/media/images/reserved.png" />
				{% else %}
					<form method="post" action="/gifts/reserve">
						<input type="hidden" name="slug" value="{{ gift.slug }}">
						<input type="image" src="/media/images/reserve.png" alt="Reserve"
							   name="reserve" id="reserve" class="reserve" />
					</form>
				{% endif %}
			</div>
			<div class="gift_clearer"></div>
		{% endfor %}
	{% endfor %}
{% endblock %}