{% extends "base.html" %}
{% load image_filters %}
{% block title %}Gifts{% endblock %}
{% block selected %}gifts{% endblock %}

{% block content %}
	<h2>Gift List</h2>
	<p>This is our gift list. If you see something you might like to buy for us, then you can click on it's name to
	   be taken to the site which is selling it. If you still like what you see click the "Reserve" button. Items
	   shown in grey have already been reserved.</p>
	<p>We get a small commission for anything you buy from Amazon through this list (maybe even enough to buy a meal out
	   while we're on honeymoon!) if that's a problem for you, give us a shout, and we'll tell you how to avoid it.</p>
	<p>And finally, don't feel obliged to get anything. We'll still love you if you don't!</p>
	
	<div class="gift_clearer"></div>
	{% for gift in gifts %}
		<div class="gift {% if gift.reserved %}reserved-gift{% endif %}" id="gift-{{ gift.id }}">
			<div class="picture">
				<div class="image">
					{% if gift.reserved %}
						<img src="{{ gift.image.path|bw_thumbnail }}" />
					{% else %}
						<img src="{{ gift.image.path|thumbnail }}" />
					{% endif %}
				</div>
				<p>{{ gift.price_in_pounds }}</p>
			</div>
			<h3><a href="{{ gift.address }}" target="_blank">{{ gift.name }}</a></h3>
			<p>{{ gift.description }}</p>
			{% if gift.reserved %}
				<img class="reserve" src="/media/images/reserved.png" />
			{% else %}
				<form method="post" action="/gifts/reserve">
					<input type="hidden" name="slug" value="{{ gift.slug }}">
					<input type="image" src="/media/images/reserve.png" alt="Reserve"
						   name="reserve" id="reserve" class="reserve" />
				</form>
			{% endif %}
		</div>
		<div class="gift_clearer"></div>
	{% endfor %}
{% endblock %}