{% extends "base.html" %}

{% block title %}RSVP{% endblock %}
{% block selected %}rsvp{% endblock %}

{% block content %}
	<h2>RSVP</h2>
	<p>To RSVP enter the e-mail address your invitation went to in the box below.</p>
	<p>If you didn't get your invitation by e-mail, don't panic! Give one of us a shout
	   and let us know you're coming. If you have an e-mail address tell us what it is so
	   that we can add you to the mailing list. We promise not to spam you!</p>
	
	<div class="form_block">
		{% if error %}
		<p class="error">We don't seem to have your e-mail address. Try again, and if it still
			             doesn't work, get in touch. We probably got it wrong.</p>
		{% endif %}
		<form action="/rsvp/stage2" method="post">
			<label for="email">E-Mail Address</label>
			<input type="text" name="email" id="email" class="text" />
			
			<input type="image" name="submit" class="image" id="submit"
				   src="/media/images/rsvp_button.png" alt="RSVP" width="86" height="36"/>
		</form>
	</div>
{% endblock %}