<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.0.0pr2/build/cssreset/reset-min.css">
	<link rel="stylesheet" href="/site_media/styles/main.css" type="text/css" media="screen" charset="utf-8">
	
	<script src="http://www.google.com/jsapi"></script>
	<script>google.load("jquery", "1.3.2");</script>
	
	<title>Jon &amp; Laura's Wedding | {% block title %}Untitled Page{% endblock %}</title>
</head>

<body>
	{% block content %}
	{% endblock %}
</body>
</html>
