<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.0.0pr2/build/cssreset/reset-min.css">
	<link rel="stylesheet" href="/site_media/styles/main.css" type="text/css" media="screen" charset="utf-8">
	
	<script src="http://www.google.com/jsapi"></script>
	<script>google.load("jquery", "1.3.2");</script>
	{% block head %}{% endblock %}
	
	<title>Jon &amp; Laura's Wedding | {% block title %}Untitled Page{% endblock %}</title>
</head>

<body id="{% block selected %}{% endblock %}">
	<div id="container">
		<div id="header">
			<h1>Jon &amp; Laura</h1>
			<p id="date">21<sup>st</sup> August 2009</p>
			<ul id="navigation">
				<li id="navigation-venue"><a href="#">Venue</a></li>
				<li id="navigation-rsvp"><a href="#">RSVP</a></li>
				<li id="navigation-gift-list"><a href="#">Gift List</a></li>
			</ul>
		</div>
		
		<div id="content">
			{% block content %}
			{% endblock %}
		</div>
		
		<div id="footer">
			<p>Content and design copyright &copy; Jon Wood, 2009</p>
			<p>Source available under the BSD license at <a href="http://github.com/jellybob/wedding/">GitHub</a>.</p>
		</div>
	</div>
</body>
</html>
